*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #000;
    color: #f6f6f6;
    box-sizing: border-box;
}

.titulo-destaque, .especialidade{
    color: rgb(211, 121, 184);
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.apresentacao__conteudo{
    width: 615px;
  
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
}